---
title: Blog
---

<div class="container mb-5 mt-3 mt-md-3">
    <div class="row gx-3 gy-3">
        {% for post in site.posts %}
        <div class="col-12 col-md-6 p-3 px-md-3 py-md-3 d-flex justify-content-center">
            <div class="card bg-primary text-white w-100 farama-post-card" style="max-width:325px">
                <img class="card-img"
                    src="{% if project.image %}assets/images/{{post.image}}{% else %} assets/images/farama_solid_white.svg {% endif %}"
                    alt="{{ post.title }}">
                <a href="{{post.url | relative_url}}" class="text-white" style="text-decoration: none;">
                    <div class="card-img-overlay" style="top: unset;padding-top: 25%">
                        <h5 class="card-title">{{post.title}}</h5>
                        <p class="card-text mb-0">{{post.date | date: "%-d %B %Y" }}</p>
                        <p class="card-text"><small>
                                {% assign words = post.content | number_of_words %}
                                {% if words < 360 %} 1 min {% else %} {{ words | divided_by:180 }} mins {% endif %} read
                                    </small>
                        </p>

                    </div>
                </a>
            </div>

        </div>
            {% endfor %}


    </div>
</div>