---
title: Donations
redirect_from: /donate/
---

<!-- for paypal payments -->
<script src="https://www.paypal.com/sdk/js?client-id=ARoTYDvrwPvrGBON3veeIccmNVa3YnB4Hxx5cJxnTgXmlWa__vkKa7aiIKfqmA111wc1x-43VjsGQXBZ&vault=true&intent=subscription"
        data-sdk-integration-source="button-factory"></script>
<script>
    paypal.Buttons({
        style: {
            shape: 'rect',
            color: 'gold',
            layout: 'vertical',
            label: 'paypal'
        },
        createSubscription: function (data, actions) {
            return actions.subscription.create({
                /* Creates the subscription */
                plan_id: 'P-4VD91427ED786441GML5L2ZQ',
                quantity: 1 // The quantity of the product for a subscription
            });
        },
        onApprove: function (data, actions) {
            alert(data.subscriptionID); // You can add optional success message for the subscriber here
        }
    }).render('#paypal-button-container-P-4VD91427ED786441GML5L2ZQ'); // Renders the PayPal button
</script>

<!-- main page -->
<div class="container-fluid">
    <div class="row pt-5">
        <h3 class="mb-5">We accept donations through a number of payment services shown below. We are a registered 501c3
            nonprofit in the US, meaning that donations are tax deductible.</h3>
        {% for org in site.data.donate %}
        <div class="col-12 col-sm-6 col-md-4 mb-5">
            <h2>{{org.name}}</h2>
            {% if org.name == "every.org" %}
            <div id="edo-donate-btn" class="container-md"><img height="150px" src="assets/donate/{{org.image}}"></div>
            {% elsif org.name == "Paypal" %}
            <a href="{{org.site}}" onclick="window.open('{{org.site}}','popup','width=600,height=600'); return false;">
                <img src="assets/donate/{{org.image}}" class="mx-auto img-fluid px-3" style="height: 150px;"
                     alt="">
            </a>
            {% elsif org.name == "Contact Us Directly" %}
            <a id="email" style="color: black; " href="{{org.site}}">{{ org.image }}</a>


            {% else %}
            <a href="{{org.site}}">
                <img src="assets/donate/{{org.image}}" class="mx-auto img-fluid px-3" style="height: 150px;"
                     alt="">
            </a>
            {% endif %}

            <h5 class="mt-2">{{org.fees}}</h5>
        </div>
        {% endfor %}

        <!-- for every dot org -->
        <script async defer src="https://assets.every.org/dist/donate-button/0.3/index.js"
                class="edo-donate-btn-js"></script>
        <script>function createWidget() {
            everyDotOrgDonateButton.createWidget({
                selector: "#edo-donate-btn", options: {
                    nonprofitSlug: "farama-inc",
                    showInitialMessage: false,
                    defaultFrequency: "monthly",
                    infoPages: [{
                        key: "faq",
                        name: "FAQ",
                        source: `## How does this donate button work?This button is powered by Every.org, a tax-exempt US 501(c)(3) nonprofit building accessible giving infrastructure to help every person and organization do more good.You will be directed to www.every.org to securely complete your donation. You can donate cash via Bank, Card, Google Pay, Apple Pay, or PayPal. You can also elect to donate Crypto, Stock, or via a DAF.## Is my donation tax-deductible?Yes, your donation will be made to Every.org, a US 501(c)(3) tax-exempt organization with EIN 61-1913297, and you will instantly get a receipt emailed to you.We do not provide legal or tax advise to individuals, but generally speaking in the US if you itemize your tax return, then tax deductible donations can reduce taxable income.## How long does it take for my donation to arrive?Your donation information will be sent instantly and funds are disbursed weekly.`,
                    },],
                    currencies: [{countryCodes: ["US"], name: "USD", symbol: "$", minimumAmount: 10,},],
                },
            });
        }

        if (window.everyDotOrgDonateButton) {
            createWidget();
        } else {
            document.querySelector(".edo-donate-btn-js").addEventListener("load", createWidget);
        }</script>

    </div>
    <div>
        <div class="row pt-5">
            <h2 class="mb-5">Donors</h2>

            <h3>Silver - $10k+</h3>
            {% for org in site.data.donors %}
            {% if org.tier == 'Silver' %}
            <div class=" mb-5">
                <a href="{{org.site}}">
                    <img src="assets/donors/{{org.image}}" class="mx-auto img-fluid px-3"
                         style="background-color: #{{org.color}}; height: 150px;"
                         alt="">
                </a>
            </div>
            {% endif %}
            {% endfor %}

            <h3>Gold - $25k+</h3>
            {% for org in site.data.donors %}
            {% if org.tier == 'Gold' %}
            <div class="mb-5">
                <a href="{{org.site}}">
                    <img src="assets/donors/{{org.image}}" class="mx-auto img-fluid px-3"
                         style="background-color: #{{org.color}}; height: 150px;"
                         alt="">
                </a>
            </div>
            {% endif %}
            {% endfor %}

            <h3>Platinum - $50k+</h3>
            {% for org in site.data.donors %}
            {% if org.tier == 'Platinum' %}
            <div class="col-12 col-sm-6 col-md-4 mb-5">
                <a href="{{org.site}}">
                    <img src="assets/donors/{{org.image}}" class="mx-auto img-fluid px-3"
                         style="background-color: #{{org.color}}; height: 150px;"
                         alt="">
                </a>
            </div>
            {% endif %}
            {% endfor %}
            <h3>Diamond - $150k+</h3>
            {% for org in site.data.donors %}
            {% if org.tier == 'Diamond' %}
            <div class="col-12 col-sm-6 col-md-4 mb-5">
                <a href="{{org.site}}">
                    <img src="assets/donors/{{org.image}}" class="mx-auto img-fluid px-3"
                         style="background-color: #{{org.color}}; height: 150px;"
                         alt="">
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <!-- donation perks section -->
    <div style="text-align: left">
        <h2>Donor Benefits</h2>
        <i>Please <a href="mailto:{{site.email}}">contact us directly</a> to get the corresponding benefits. Note that
            donation tiers are annual.</i>

        {% for tier in site.data.donate_tiers %}
        <h3>{{tier.name}}</h3>
        <ul>
            {{tier.benefits}}
        </ul>

        {% endfor %}
    </div>
</div>