---
title: Projects
---

<!-- <style>
    *{
        border: 1px solid black
    }
</style> -->
<div class="container-fluid pt-5">
    <div class="row">
        {% for project in site.data.projects %}
        <div class="col-4 mb-5 pb-5" style="height:30vh">
            <h3>{{project.name}}</h3>
            <img src="assets/images/{{project.image}}" style="height: 80%;width:90%"
                 alt="">
            <h5 class="d-none d-md-block mx-5 mt-2">{{project.desc}}</h5>
            <a style="margin-right: 5px" href="{{project.github}}">Github</a>
            {% if project.website %}
                <a href="{{project.website}}">Website</a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <br>
    <h1>How to Submit Projects</h1>
    <div class="mb-5">
        If you'd like your reinforcement learning project to us to be maintained long term,
        please reach out to us at jkterry@farama.org. In general, we're only looking for
        projects that have already become widely used or clearly have a profound technical
        use in the field if they're not currently widely used. We work to bring all new and
        existing projects to our <a href="project_standard.html">standards</a>, and generally request that new projects meet
        the vast majority of these requirements before submission (though please reach out
        to us if you have any questions).
    </div>
</div>