---
title: Project Standards
subtitle: For a project under Farama to be listed as mature, that means it needs to comply with the following standards. We work to bring new projects up to these standards, and keep our existing projects up to these standards. These standards will evolve over time, and we'll publicly announce it if anything drastic changes.
---

<div class="container my-5">
    <div class="row">
        {% for item in site.data.project_standards %}
        <div class="col-12 col-lg-4 col-md-6 col-sm-12 mb-4" style="display: flex; flex-wrap:wrap">
            <div class="card farama-standards-card text-dark bg-light" style="height: 100%;">
                <div class="card-header fw-bold text-center">{{ item.type }}</div>
                <div class="card-body bg-white" style="border-radius: var(--bs-card-inner-border-radius)">
                    <ul>
                        {% for standard in item.standards %}
                        <li>{{ standard.name }}</li>
                        {% if forloop.last %}{% else %}
                        <div class="farama-standards-card__separator"></div>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>