---
title: Project Standards
---

<!-- <style>
    *{
        border: 1px solid black
    }
</style> -->
<div class="container my-5">
    <div class="row">
        {% for item in site.data.project_standards %}
        <div class="col-12 col-lg-4 col-md-6 col-sm-12 mb-4" style="display: flex; flex-wrap:wrap">
            <div class="card farama-standards-card text-dark bg-light" style="height: 100%;">
                <div class="card-header fw-bold text-center">{{ item.type }}</div>
                <div class="card-body">
                    <ul>
                        {% for standard in item.standards %}
                        <li>{{ standard.name }}</li>
                        {% if forloop.last %}{% else %}
                        <div class="farama-standards-card__separator"></div>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>