---
title: Team
---
<!-- <style>
    body{
        background-image: url(assets/images/farama_special.svg);
        background-position: center;
        background-repeat: repeat-y;
    }
</style> -->

<div class="content-container mb-5">
    <div class="row pt-5">
        {% for person in site.data.team %}
        <div class="col-12 col-sm-6 col-md-4 my-2 mb-4">
            <a href="{{person.site}}" class="farama-profile-link">
                <div class="card farama-profile-card me-1 ms-1" style="height:100%">
                    <img src="assets/people/{{person.image}}" class="card-img-top" alt="{{project.name}}">
                    <div class="card-body">
                        <h5 class="card-title">{{person.name}}</h5>
                        <hr>
                        {{person.position}}
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>

    <div class="row pt-5">
        <h2>Board of Technical Advisors</h2>
        {% for person in site.data.tech_advisors %}
        <div class="col-12 col-sm-6 col-md-4 my-2 mb-4">
            <a href="{{person.site}}" class="farama-profile-link">
                <div class="card farama-profile-card me-1 ms-1" style="height:100%">
                    <img src="assets/people/{{person.image}}" class="card-img-top" alt="{{project.name}}">
                    <div class="card-body">
                        <h5 class="card-title">{{person.name}}</h5>
                        <hr>
                        {{person.position}}
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>