<footer style="background-color: #061e2c;
color:white;bottom:0;text-align:left;">
    <div class="container-fluid py-4">
        <div class="row">
            <div class="d-flex justify-content-between">
                <div class="my-auto px-3">
                    Copyright &copy; {{site.title}} {{ 'now' | date: "%Y" }}
                </div>
                <div>
                    <span class="px-2"><a href="{{site.twitter}}"><i class="fa fa-twitter fa-2x" style="color: white;"></i></a></span>
                    <span class="px-2"><a href="{{site.github}}"><i class="fa fa-github fa-2x" style="color: white;"></i></a></span>
                    <span class="px-2"><a href="{{site.reddit}}"><i class="fa-brands fa-reddit-alien fa-2x" style="color: white;"></i></a></span>
                    <span class="px-2"><a href="{{site.discord}}"><i class="fa-brands fa-discord fa-2x" style="color: white;"></i></a></span>
                    <span class="px-2"><a href="mailto:{{site.email}}"><i class="fa-solid fa-envelope fa-2x" style="color: white;"></i></a></span>
                </div>
            </div>
        </div>
    </div>
</footer>