<footer style="background-color: #061e2c;
color:white;bottom:0;text-align:left;">
    <div class="container-fluid py-3">
        <div class="row">
            <div class="d-flex justify-content-between align-items-center flex-column flex-md-row">
                <div class="d-flex my-auto px-1 px-sm-3 flex-column flex-md-row text-center">
                    <p class="farama-copyright mb-0">Copyright &copy; {{site.title}} {{ 'now' | date: "%Y" }}</p>
                    <p class="mb-0"><a class="text-white" href="mailto:contact@farama.org">contact@farama.org</a></p>
                </div>
                <div class="farama-social-container mt-3 mt-md-0">
                    <span class="px-2 py-2"><a href="{{site.twitter}}" aria-label="Twitter"><i class="fa fa-twitter fa-2x fa-fw" style="color: white;"></i></a></span>
                    <span class="px-2 py-2"><a href="{{site.github}}" aria-label="Github"><i class="fa fa-github fa-2x fa-fw" style="color: white;"></i></a></span>
                    <span class="px-2 py-2"><a href="{{site.reddit}}" aria-label="Reddit"><i class="fa-brands fa-reddit-alien fa-2x fa-fw" style="color: white;"></i></a></span>
                    <span class="px-2 py-2"><a href="{{site.discord}}" aria-label="Discord"><i class="fa-brands fa-discord fa-2x fa-fw" style="color: white;"></i></a></span>
                </div>
            </div>
        </div>
    </div>
</footer>