<footer style="background-color: rgba(18, 18, 59, 1);
color:white;bottom:0;text-align:left">
    <div class="container-fluid py-4" style="width: 100vw">
        <div class="row">
            <div class="d-flex justify-content-between">
                <div class="my-auto px-3">
                    Copyright &copy; {{site.title}} {{ 'now' | date: "%Y" }}
                </div>
                <div>
                    <span class="px-1"><a href="{{site.github}}"><i class="fa fa-github fa-2x" style="color: white;"></i></a></span>
                </div>
            </div>
        </div>
    </div>
</footer>