<!-- nav bar -->
<nav class="navbar navbar-expand-lg navbar-dark shadow-lg navbar-fixed-top"
    style="position: fixed;width: 100%;z-index: 3;" id="nav">
    <a class="navbar-brand" href="https://farama.org/"></a>
    <button class="navbar-toggler mx-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            {% for item in site.data.nav %}
            <li class="nav-item mx-0 mx-lg-1">
                <a style="color: white;font-size: 20px;font-weight: 600;{% if item.name == 'donors' %} color:green{% endif %}"
                    class="nav-link " href="{{ item.link | relative_url }}">{{
                    item.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% if page.index != true %}
    <a href="{{site.baseurl}}" class="d-none d-lg-block"><img style="margin-right: 20px;"
            src="{{'assets/images/farama_solid_white.svg' | relative_url }}" width="35px" /></a>
    {% endif %}
</nav>

<style>
    .navbar-fixed-top.scrolled {
        background: linear-gradient(180deg, rgba(2, 0, 36, 1) 10%, rgba(31, 31, 101, 1) 88%);
        transition: background-color 200ms linear;
    }

    .lin-grad {
        background: linear-gradient(180deg, rgba(2, 0, 36, 1) 10%, rgba(31, 31, 101, 1) 88%);
    }
</style>

<script>
    sandwich_open = false
    // https://stackoverflow.com/questions/23706003/changing-nav-bar-color-after-scrolling
    $(function () {
        $(document).scroll(function () {
            checkMenuBackground()
        });
    });

    $('.navbar-toggler').click(function () {
        sandwich_open =  !sandwich_open
        checkMenuBackground()
    });

    // checks whether the background should be a gradient or clear
    // and sets it appropriately
    function checkMenuBackground(){
        
        if (sandwich_open) {
            document.getElementById("nav").classList.add("scrolled")
        }else{
            var $nav = $(".navbar-fixed-top");
            
            if ($(document).scrollTop() > $nav.height() + 50){
                document.getElementById("nav").classList.add("scrolled")
            }else{
                document.getElementById("nav").classList.remove("scrolled")
            }
            
        }
    }
</script>