---
---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    {% include nav.html %}
    <div class="farama-gradient-container">
        <div class="pt-5 py-3 farama-gradient-bg">
            <div class="jumbotron mb-4 pt-5">
                <div class="container-fluid">
                    {% if page.title == site.title or page.type == "The Farama Foundation" %}

                    <div style="color: white;">
                        {% if page.title == site.title or page.type == "Blog" %}
                        <img class="" src="assets/images/farama_solid_white.svg" width="125" height="135" />
                        {% endif %}
                        <h1>
                            {{page.title}}
                        </h1>
                        <hr class="d-flex justify-content-center" style="max-width: 500px;">
                        <h5>
                            {{page.subtitle}}

                        </h5>
                    </div>
                    {% else %}
                    <div style="max-width: 900px; text-align: left;
                            margin: auto; color: white;">
                        <h1>
                            {{page.title}}
                        </h1>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {{content}}

    {% include footer.html %}
</body>



</html>